span{
    font-size: 10rem;
}

.row{
    display:flex;
}

.row > * {
    flex-basis: 100%;
}

.row-1{
    height: 50vh;
}

.row-2{
    height: 10vh;
}

.col{
    text-align: center;
}

#btn-new{
    float: left;
}

input[type="submit" i]:nth-of-type(1),
input[type="submit" i]:nth-of-type(2){
    float: right;
}
