body{
    background-image: url("./img/background.png");
    display: cover;
    background-size: 100%;
    color: rgba(255, 255, 255, 0.849);
}

span{
    font-size: 10rem;
}

.row{
    display:flex;
}

.row > * {
    flex-basis: 100%;
}

.row-1{
    height: 50vh;
}

.row-2{
    height: 10vh;
}

.col{
    text-align: center;
}

#btn-new{
    float: left;
}

input[type="submit" i]:nth-of-type(1),
input[type="submit" i]:nth-of-type(2),
input[type="submit" i]:nth-of-type(3){
    float: right;
}



/* .button {
  background-color: goldenrod;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
}

.button:hover,
.button:focus {
  background-color: yellowgreen;
} */